@font-face{
  font-family:'Neue Haas Unica';
  src:url(/fonts/2FA80E_C_0-1042520cd89fae374635245689be68a5284e1caabb46369b69107a1cc2ccf9ad.eot);
  src:url(/fonts/2FA80E_C_0-1042520cd89fae374635245689be68a5284e1caabb46369b69107a1cc2ccf9ad.eot?#iefix) format("embedded-opentype"),url(/fonts/2FA80E_C_0-94079db153913e2f3fca7991ea27bac12ba4063316c40df4e18118b6ee65e6a2.woff2) format("woff2"),url(/fonts/2FA80E_C_0-e136a28f58326d54216d6e373a6bfa46ec0c2643db5a796ea68c512432de8467.woff) format("woff"),url(/fonts/2FA80E_C_0-57f95a89404ceca13e6711be520eefb240afae041b1b8bcc9e2afab34b44df50.ttf) format("truetype");
  font-weight:normal;
  font-style:normal
}

@font-face{
  font-family:'Neue Haas Unica';
  src:url(/fonts/2FA80E_7_0-a9ecce11f05b3732b7d91b5e44b669aa7841c55661672dcefa265bef434d15dd.eot?#iefix) format("embedded-opentype"),url(/fonts/2FA80E_7_0-1c438169ee33e58e387fa79a98ee971b5efa0d49bff60f80ead4cb3e0524af9e.woff2) format("woff2"),url(/fonts/2FA80E_7_0-7d826fd8e8204d5f6f3d82aa1111adf3c71234151238003c5ee7f386268ba637.woff) format("woff"),url(/fonts/2FA80E_7_0-a2e1c4dcfdfe9b104025eef98c7ab534b3af4d901f4b1138b013e049ae17739e.ttf) format("truetype");
  font-weight:normal;
  font-style:italic
}

/*@font-face{*/
/*font-family:'Neue Haas Unica';*/
/*src:url(/fonts/2FA80E_3_0-1dfeb6fa8081471ef6a5a575319070d8d287f4f6181ec750a0dafcd0f09a077b.eot?#iefix) format("embedded-opentype"),url(/fonts/2FA80E_3_0-1a8cab3c7c74408d28e82f40d866ad7907c39d3eec2c62bf6bce7e714b471a14.woff2) format("woff2"),url(/fonts/2FA80E_3_0-ce995a35d51227f7dbcc34a0824d8652212cf46e34a9f44802e0729560942709.woff) format("woff"),url(/fonts/2FA80E_3_0-61d8d1bcd908eb26af78220e9bf7c0ed0d197cb9b1f9383260cf55a37e558a36.ttf) format("truetype");*/
/*font-weight:700;*/
/*font-style:normal*/
/*}*/

@font-face{font-family:'Neue Haas Unica';
  src:url(/fonts/2FA80E_4_0-7b5e41308866e2432a3423074f2eee71f7c4e9e85f5417ff776dad9bbcf3ee2e.eot?#iefix) format("embedded-opentype"),url(/fonts/2FA80E_4_0-2ce8b249e48659ba0f51ce0efd896e4711af5086d90d9f83ec551d3602c075e1.woff2) format("woff2"),url(/fonts/2FA80E_4_0-3149b64d38b9f83a0afeca2559145792f3f7c27099b9ecf3eb60c9d7f06b76e5.woff) format("woff"),url(/fonts/2FA80E_4_0-ced53fb2ad6ce0df069eccd557c9e2e22b31e3dcdcd2fd6b75485588baa97cf4.ttf) format("truetype");
  font-weight:700;
  font-style:italic
}
