extends layout

block content
  each work in works
    .work-medium
        .work-tools
            button.btn.btn-remember(data-hash=work.hash) remember
        if work.imageStatus === 0
            img(src='/images/rendering.png')
            p= `${work.title} (rendering)`

        else if work.imageStatus === 2
            img(src=`/works/medium/${work.filename}`)
            p= work.title


