doctype html
html(lang='en')
  head
    title= title
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='/css/jquery.fullpage.min.css')
    block meta

  body
    block content
    .tools-container
    block nav


    script(src='/js/jquery.js')
    script(src='/js/jquery.fullpage.min.js')
    script(src='/js/app.js')

    script(type='text/javascript').
      window.pageClass = '#{script}';