body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color:#eee;
}

a {
  color: #00B7FF;
}


.work-medium img {
    max-width:500px;
}

.work {
    -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
}

.work-medium {
    position: relative;
    display:inline-block;
    margin-right:50px;
}

.work-tools {
    position:absolute;
    right: 0;
    padding:10px;
    display:none;
}

.work-medium:hover .work-tools {
    display:inline;
}

.btn {
    -webkit-appearance: none;
    color:black;
    background-color:white;
    border:none;
    border-radius:2px;
}

.work-thumb {
    width:50px;
    margin-right:10px;
}

.tools-container {
    position: fixed;
    top: 0;
    right: 0;
    padding:20px;
}