@import 'helpers';

$pageWidth: 18;
$pageHeight: 24;

body {
  padding: 0;
  margin: 0;
}

.page {
  page-break-after: always;
  width: cm($pageWidth);
  height: cm($pageHeight);
  box-sizing: border-box;
  padding-top: cm(1);
  padding-bottom: cm(1);
  position: relative;
}

.title {
  position: absolute;
  bottom: cm(1);
  width: cm($pageWidth - 2.5);
}

.page:nth-child(odd) {
  padding-left: cm(1.5);
  padding-right: cm(1);

  .title {
    text-align: right;
  }
}

.page:nth-child(even) {
  padding-left: cm(1);
  padding-right: cm(1.5);
}

.page img {
  width: cm($pageWidth - 2.5);
}