extends ../layout
include ../mixins/work
block nav
  .nav
    ul.buttons
      li.nav-button
        a.text(href='/about') About


block content
  .recent
    each work in works
      + workThumb(work, true, true)
