doctype html
html
  head
    link(rel='stylesheet', href='/css/book.css')
  body
    .page
      img(src='http://death.imitates.org/works/full/1e4f990e8c2c6b3137f17069bb3ac124d33cab99.jpg')
      .title some title 1
    .page
      img(src='http://death.imitates.org/works/full/c53764780969e4d149f551af914a9bd00d731d8b.jpg')
      .title some title 2
    .page
      img(src='http://death.imitates.org/works/full/1b5d80aa090230ee38c3a7c6226df85ce4a604fa.jpg')
      .title some title 3
//    for work in works
//      .page= work.title
