doctype html
html
  head
    link(rel='stylesheet', href='/css/book.css')
  body
    for work in works
      .page
        img(src=`/works/full/${work.current.filename}`)
        .title= work.current.title
