doctype html
html
  head
    link(rel='stylesheet', href='/css/book.css')
  body(class=mode === 'pdf' ? 'pdf' : 'web')
    .outer
      for page in pages
        .page
          case page.view
            when 'one-work'
              include one-work
            when 'two-works'
              include two-works
            when 'three-works'
              include three-works

